.line {
  fill: none;
  stroke-width: 2px;
}

.orange {
  stroke: orange;
}

.green {
  stroke: green;
}

.red {
  stroke: red;

}

.blue {
  stroke: blue;

}

.myCircle:hover {
  stroke: black;
}

.axis .domain {
  display: none;
}



.homebtn{
  background-color: white;
  z-index:2;
}

.homebtn a{
  width: 110px;
  
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 18px;
  font-weight: bold;
  color: darkgray;
  text-align: center;
  display: block;
  padding: 14px;
  margin: 0px 0px 0px 40px;
}

h1, h2, h3{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 20px;
  color: black;
}

h1{
  font-size: 24px;
  font-weight: bold;
  text-align:center;

}

.dropdown-menu a{
  width: 50px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 12px;
  color: gray;
  text-align: left;
  display: block;
  padding: 20px;
  margin: 0px 40px 40px 40px;
}

.navbar{
  position: absolute;
  right: 30px;
}

.navbar a{
  width: 200px;
  
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 18px;
  text-align: center;
  display: block;
  padding: 14px;
  margin: 0px 0px 0px 40px;
}

img {
  padding: 14px;
  margin: 20px 20px 20px 40px;
  height: 150px;
  width: 280px;
}
